.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: center;
}

h1 {
    margin-top: 70px;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.3em;
}